* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
#body {
  height: 100%;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}
#root{
  width: 100rem;
}


a{
  color: #62061bcf;
}
/* NavBar Elements */
.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #62061bcf;
  top:0;
  min-width: 100vw;
  width: 100rem;
  position:fixed;
  margin-bottom: .2rem;
}

.NavBarLink {
  font-size: 30px;
  color: #aafcfd;
  text-decoration: none;
  margin-left: 10px;
}
/* About Me Elements */
.AboutMe{
  min-width: 100vw;
  background-color: #aafcfd;
  height: 76em;
}
.AboutContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.AboutHeader {
  font-family: 'Titan One', cursive;
  font-size: 50px;
  margin: 100px 0;
  color:#62061b;
}
.AboutInfo{
  display:flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
}
.AboutPicContainer{
  width: 200px;
  height: 200px
}
.AboutPic{
  width: 150px;
  height: 200px;
  border-radius: 20%;
}
.BioText{
  font-size: 26px;
  color:#62061b;
  width: 33rem;
}
.ResumeButton{
  font-size: 35px;
  border: #62061b;
  background-color: #62061b;
  border-radius: 50%;
  color:#aafcfd;
  padding: 8px
}
.ResumeButtonContainer{
  display: flex;
  justify-content: center;
}
/* Footer Elements */
.FooterIcon{
  width: 30px;
  width: 30px;
  padding: 5px;
}
.FooterContainer{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  bottom: 0;
  background-color: #62061bcf;
  position:fixed;
  min-width: 100vw;
  width: 100rem;
}
.FooterHeader{
  color:#aafcfd;
}

/* Home */
.home-container{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
/* Projects */
.projects-container{
  margin-top: 2.1rem;
  background-color: #aafcfd;
  min-width: 100vw;
  width: 100rem;
  min-height: 100vh;
  height: 100rem;

}

.projects-list{
  display: grid;
  grid-template-columns: 50rem 50rem;
  grid-template-rows: 45rem 45rem;
  min-width: 100vw;
  width: 100rem;
  justify-content: center;
  align-items: center;
}
.project-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-width: 25vw;
  width: 33rem;
}
.project-image-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 80px;
}
.project-title{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: 'Abril Fatface', cursive;
  color: #62061b;
}
.project-image{
  width: 25rem;
  border-radius: 80px;
  margin-bottom: 2rem;
}
.project-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  color: #62061b;
  text-decoration: none;
}
.project-list-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  color: #62061b;
}